body{
    background-color: rgb(31,31,47);
    padding-top:100px;
    height: auto;
    min-height: 100vh;
}

.card-body{
    background-color: rgb(39,41,61) !important;
}

#budgetTable{
  width: 100%;
}

#budgetTable td{
    vertical-align: middle !important;
}

#budgetSummary{
    background-color: rgb(39,41,61) !important;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(103, 107, 145);
    margin: 10px;
    padding:10px;
    padding-left:20px;
}

#addBudgetForm{
    color:white;
    background-color: rgb(31,31,47)  ;
    width:70% ; 
    padding:10px;
    margin:auto ;
    text-align: center;
}

#addBudgetBtn{
    margin-top:50%;
}

.budgetDiv{
    background-color: rgb(39,41,61) !important;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(103, 107, 145);
    margin-right: 60px;
    margin-bottom: 30px;
    padding:5px;
    min-height: 10vh;
    min-width: 50vw !important;
}