<body>
    <div class="container" >
        <div class="row">
          <div class="col-lg-11 col-md-8 col-sm-12">
            <!-- Board View -->
              <div class="row" *ngIf="_globalService.viewSection == 'board'">
                <div class="col-12">
                  <div *ngIf="_globalService.showAlert" class="alert alert-danger" role="alert"  >
                    <div  >    
                      <a class="nav-link" href="#" style="float:right;" (click)="this._globalService.showAlert=false"><i class="fa fa-close" aria-hidden="true"></i></a>
                  </div>
                    <p class="typography" style="text-align: center;"> {{_globalService.AlertMessage}} </p>
                  </div>
                </div>
                    <div class="col-lg-4 col-md-3 col-sm-1" *ngFor="let v of _globalService.VisualList">
                      <div  class="card text-white bg-primary" style="width: 18rem;" color="primary" >
                        <img src={{v.image}} class="card-img-top" alt="...">
                          <div class="card-body">
                            <p class="typography">
                                  {{v.name}}
                            </p>
                            <a href={{v.image}} download #clickToDownload></a> 
                            <button  (click)="clickToDownload.click()" class="btn btn-just-icon" style="float:right;" > <i class="fa fa-download"></i> </button>
                          </div>
                      </div>   
                 </div>
              </div>
              <!-- Guest List View -->
              <div class="row" *ngIf="_globalService.viewSection == 'guestView'">
                <div class="col-12">
                  <div *ngIf="_globalService.showAlert" class="alert alert-danger" role="alert"  >
                    <div  >    
                      <a class="nav-link" href="#" style="float:right;" (click)="this._globalService.showAlert=false"><i class="fa fa-close" aria-hidden="true"></i></a>
                  </div>
                    <p class="typography" style="text-align: center;"> {{_globalService.AlertMessage}} </p>
                  </div>
                </div>
                <div class="col-12">
                  <div class="typography-line" style="padding-left: 20px;">
                    <h3>Guest Viewers ({{numberGuests}}) </h3>
                </div>
                </div>
                <div  *ngFor="let g of _globalService.GuestList" class="col-12 guestDiv" >
                  <div class="col-12" class="labelDiv">
                    <span  class="label label-info">
                      <label class="guestLabel">• {{g.name}} - {{g.email}}</label>
                   </span>
                  </div>
                </div>
                    
              </div>
          </div>
          <div class="col">
            <button type="button" style="position:fixed;" class="btn btn-danger btn-just-icon" 
            type="button" ngbTooltip="Upload Image" container="body" placement="right" (click)="open()">
            <i class="nc-icon nc-simple-add"></i>
            </button>
            <button type="button" style="position:fixed;margin-top:50px;" class="btn btn-danger btn-just-icon" 
            type="button" ngbTooltip="Add Guest" container="body" placement="right">
              <i class="fa fa-user-plus"></i>
            </button>
            <button type="button" style="position:fixed;margin-top:100px;" class="btn btn-danger btn-just-icon" 
            type="button" ngbTooltip="View Guests" container="body" placement="right" (click)="viewGuests()">
              <i class="fa fa-users"></i>
            </button>
            
          </div>

        </div>  
    </div>

    
</body>