<!-- <app-navbar></app-navbar> -->

<div id="navbar" >
    <div class="navigation-example">
    <nav class="navbar navbar-expand-lg bg-danger">
        <div class="container"  >
            <a class="navbar-brand" href="#/project">A Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-transparent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-danger">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#/task"><i class="fa fa-book" aria-hidden="true"></i> Task Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#/schedule"><i class="fa fa-calendar" aria-hidden="true"></i> Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#/budget"><i class="fa fa-money" aria-hidden="true"></i> Budget</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#/visual-board"><i class="fa fa-paint-brush" aria-hidden="true"></i> Visual Board</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</div> 

<router-outlet></router-outlet>
<!-- <app-footer *ngIf="removeFooter()"></app-footer> -->
