#navbar{
    position:fixed !important;
    top:0 !important;
    width:100% !important;
    z-index:999 !important;
    //background-image: url('../assets/img/rooftop.jpg') !important;
    //background-size: cover !important; 
   // background-repeat:no-repeat !important;
}