<!-- <app-navbar></app-navbar> -->

<div id="navbar" >
    <div class="navigation-example">
    <nav class="navbar navbar-expand-lg bg-danger">
        <div class="container"  >
            <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status" *ngIf="_globalService.showLoading">
                <span class="sr-only">Loading...</span>
              </div>
            <a class="navbar-brand" href="#/project">{{_globalService.currentProject}}</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-transparent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-danger">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" *ngIf="_globalService.toggleLogin || _globalService.currentViewTabs">
                        <a class="nav-link" href="#/project"><i class="fa fa-book" aria-hidden="true"></i> My Projects</a>
                    </li>
                    <li class="nav-item" *ngIf="_globalService.currentViewTabs">
                        <a class="nav-link" href="#/task"><i class="fa fa-tasks" aria-hidden="true"></i> Task Manager</a>
                    </li>
                    <li class="nav-item" *ngIf="_globalService.currentViewTabs">
                        <a class="nav-link" href="#/schedule"><i class="fa fa-calendar" aria-hidden="true"></i> Schedule</a>
                    </li>
                    <li class="nav-item" *ngIf="_globalService.currentViewTabs">
                        <a class="nav-link" href="#/budget"><i class="fa fa-money" aria-hidden="true"></i> Budget</a>
                    </li>
                    <li class="nav-item" *ngIf="_globalService.currentViewTabs">
                        <a class="nav-link" href="#/visual-board"><i class="fa fa-paint-brush" aria-hidden="true"></i> Visual Board</a>
                    </li>
                    <li class="nav-item" *ngIf="_globalService.toggleLogin||_globalService.currentViewTabs" >
                        <a class="nav-link" href="#/signup" id="logoutBtn" style="color:black;">Log Out</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
</div> 

<router-outlet></router-outlet>
<!-- <app-footer *ngIf="removeFooter()"></app-footer> -->
