<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/rooftop.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                        <div class="form-check" style="float:right;">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" [checked]="guestLogin"
                              (change)="guestLogin = !guestLogin" >
                              Guest Viewer?
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
                          <h3 class="title">Welcome</h3>
                          <div class="alert alert-danger" role="alert" *ngIf="showAlert" >
                            {{alertMessage}}
                          </div> 
                            <form class="register-form" >
                              <label>Email</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                  <input type="email" name="userEmail" class="form-control" [(ngModel)]="userObj.email" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                              </div>
                              <div *ngIf="!guestLogin">
                              <label>Password</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                  <input type="password" name="userPass" class="form-control" [(ngModel)]="userObj.password" placeholder="Password"  (focus)="focus1=true" (blur)="focus1=false" >
                              </div>
                            </div>
                              <button class="btn btn-danger btn-block btn-round" (click)="onRegister()" *ngIf="register" >Register</button>
                              <button class="btn btn-danger btn-block btn-round" (click)="onLogin()" *ngIf="login">Login</button>
                          </form>
                          <div class="forgot">
                            <a  class="btn btn-link btn-danger" (click)="flipView()" *ngIf="login && !guestLogin">New user? Register</a>
                            <a  class="btn btn-link btn-danger" (click)="flipView()" *ngIf="register && !guestLogin">Already signed up? Log in</a>
                              
                          </div>
                      </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>
                </div>
            </div>
    </div>
</div>
